# top-most EditorConfig file
root = true

[*]
end_of_line = lf
char_set = utf-8
trim_trailing_whitespace = true
indent_style = space
indent_size = 2
tab_width = 2
max_line_length = 110

[.pentadactylrc]
trim_trailing_whitespace = false

[CMakeLists.txt]
indent_size = 4
tab_width = 4

[compile,*.mk,Makefile]
indent_size = 4
tab_width = 4
indent_style = tab
