[submodule "private"]
    path = private
	url = git@github.com:erichlf/dotfiles-private.git
	branch = master
[submodule ".oh-my-bash"]
	path = .oh-my-bash
	url = https://github.com/ohmybash/oh-my-bash.git
