[user]
    name = Erich L Foster
    email = erichlf@gmail.com
    signingkey = 08A7E764EC1713A9 
[core]
    editor = nvim
	autocrlf = input
    excludesfile = ~/.gitexcludes
[push]
    default = upstream
    recurseSubmodules = check
[color]
    branch = auto
    diff = auto
    status = auto
[color "branch"]
    current = yellow reverse
    local = yellow
    remote = green
[color "diff"]
    meta = yellow bold
    frag = magenta bold
    old = red bold
    new = green bold
[color "status"]
    added = yellow
    changed = green
    untracked = cyan
[credential]
    helper = /usr/share/doc/git/contrib/credential/gnome-keyring/git-credential-gnome-keyring
    helper = 
    helper = /usr/local/bin/git-credential-manager
    credentialStore = secretservice
[merge]
    ff = false
    tool = meld
[merge "tool.meld"]
    trustExitCode = true
    conflictstyle = diff3
    ff = false
[pull]
    rebase = merges
    recurseSubmodules = yes
[rebase]
    autoSquash = true
[submodule]
    recurse = true
[status]
    submodulesummary = 1
[diff]
    tool = meld
    submodule = log
    compactionHeuristic = true
[diff "jpg"]
    textconv = exif
[difftool]
    prompt = false
[difftool "meld"]
    cmd = meld -n "$LOCAL" "$REMOTE"
[alias]
    diffall = difftool -d
    diffeach = "!f(){\
                    git diff --name-only "$@" | while read filename; do git difftool "$@" --no-prompt "$filename" & done \
                }; f"
    prettylog = log --graph --pretty=format:\"%C(auto)%d %h %C(magenta)%(trailers:key=Refs,separator= ) %C(cyan)%cn %C(auto)%s\"
[filter "lfs"]
    required = true
    clean = git-lfs clean -- %f
    smudge = git-lfs smudge -- %f
    process = git-lfs filter-process
[includeIf "gitdir:~/workspace/SAM_XL/src/**"] 
    path = ~/workspace/SAM_XL/.gitconfig
[includeIf "hasconfig:remote.*.url:git@gitlab.tudelft.nl:**"] 
    path = ~/workspace/SAM_XL/.gitconfig
[includeIf "hasconfig:remote.*.url:https://gitlab.tudelft.nl/**"] 
    path = ~/workspace/SAM_XL/.gitconfig
[commit]
    gpgSign = true
[grep]
    lineNumber = true
[credential "https://dev.azure.com"]
    useHttpPath = true
