[submodule "private"]
    path = private
	url = git@github.com:erichlf/dotfiles-private.git
	branch = master
[submodule "home/dot-tmux/plugins/tpm"]
	path = home/dot-tmux/plugins/tpm
	url = https://github.com/tmux-plugins/tpm
