[user]
    name = Erich L Foster
    email = erichlf@gmail.com
[core]
    editor = vim
    autocrlf = false
[push]
    default = simple
[color]
    branch = auto
    diff = auto
    status = auto
[color "branch"]
    current = yellow reverse
    local = yellow
    remote = green
[color "diff"]
    meta = yellow bold
    frag = magenta bold
    old = red bold
    new = green bold
[color "status"]
    added = yellow
    changed = green
    untracked = cyan
[credential]
    helper = /usr/share/doc/git/contrib/credential/gnome-keyring/git-credential-gnome-keyring
[diff]
    tool = bc3
[diff "tool.bc3"]
    path = /usr/bin/bcompare
[merge]
    tool = bc3
[merge "tool.bc3"]
    path = /usr/bin/bcompare
    trustExitCode = true
[difftool]
    prompt = false
[alias]
    diffall = difftool -d
    diffeach = "!f(){\
                    git diff --name-only "$@" | while read filename; do git difftool "$@" --no-prompt "$filename" & done \
                }; f"
