*.swp
*.swo
.vim/eclim
.vim/plugin/eclim.vim
.vim/.netrwhist
.vim/doc/tags
.vim/undofiles
.ropeproject
.pentadactyl/info
texmf/texmf
tags
.vim/bundle/client
.vim/bundle/server
texmf/tex/latex/local/auto/
texmf/tlpkg/
texmf/web2c/
my-home/.tmux/plugins/*
config/lvim/lazy-lock.json
