xterm*locale: true
xterm*saveLine: 4096
xterm*faceName: Liberation Mono:size=10:antialias=false
xterm*font: 7x13

#include "dotfiles/base16-xresources/base16-ashes.dark.256.xresources"
*.highlightColor: base02

Xcurser.theme: DMZ-White
Xcurser.size: 8
