"*":
  "atom-clang":
    defaultCFlags: [
      "-std=c99"
      "-Wall"
      "-Wextra"
      "-D_REENTRANT"
      "-D_GNU_SOURCE"
      "-I /opt/local/include"
      "-I /home/seegrid.local/efoster/workspace/Seegrid/blue"
    ]
    defaultCXXFlags: [
      "-std=c++11"
      "-Wall"
      "-Wextra"
      "-D_REENTRANT"
      "-D_GNU_SOURCE"
      "-fexceptions"
      "-I /opt/local/include"
      "-I /home/seegrid.local/efoster/workspace/Seegrid/blue"
    ]
    includeDeprecated: false
    linterEnabled: true
  "atom-include-path":
    defaultInputValue: "Project root"
  core:
    audioBeep: false
    disabledPackages: [
      "ide-c-cpp"
    ]
    projectHome: "/home/seegrid.local/efoster/workspace"
    telemetryConsent: "limited"
  editor:
    showInvisibles: true
    tabLength: 4
    tabType: "soft"
  "exception-reporting":
    userId: "817c8254-7fd9-42b0-a7e3-7a33895ee5fb"
  "ide-cpp":
    clangdPath: "/usr/bin/clangd-9"
  "linter-clang": {}
  "linter-ui-default": {}
  "tree-view":
    hideVcsIgnoredFiles: true
  welcome:
    showOnStartup: false
  "x-terminal":
    spawnPtySettings:
      projectCwd: true
    terminalSettings:
      colors:
        theme: "Base16 Tomorrow Dark"
      copyOnSelect: true
      fontSize: 12
    xtermAddons:
      webgl: true
