[
  {
    title: "Blue"
    group: "Seegrid"
    paths: [
      "/home/seegrid.local/efoster/workspace/Seegrid/blue"
    ]    
    settings:
        "*":
          "atom-clang":
            linterEnabled: true
            includeDeprecated: false
            defaultCFlags: [
              "-std=c99"
              "-Wall"
              "-Wextra"
              "-D_REENTRANT"
              "-D_GNU_SOURCE"
              "-I /opt/local/include"
              "-I /home/seegrid.local/efoster/workspace/Seegrid/blue"
            ]
            defaultCXXFlags: [
              "-std=c++11"
              "-Wall"
              "-Wextra"
              "-D_REENTRANT"
              "-D_GNU_SOURCE"
              "-fexceptions"
              "-I /opt/local/include"
              "-I /home/seegrid.local/efoster/workspace/Seegrid/blue"
            ]
  }
]
