alias vi='nvim'
alias vim='nvim'
alias emacs='emacsclient -c -a emacs'
ls --color=auto &> /dev/null && alias ls='ls --color=auto'
alias ll='ls -lh'
alias la='ls -a'
alias lla='ls -lah'
alias grep='grep --color=always'
alias cue_psx='IFS=$(echo -en "\n\b"); for i in $(find . -maxdepth 1 -type f -name "*.bin" | grep -v \(Track); do echo -e "FILE \""$i"\" Binary\n  TRACK 01 MODE2/2352\n    INDEX 01 00:00:00" > "${i%.bin}.cue" && sed -i 's/\.\///g' "${i%.bin}.cue"; done'
